<ul class="sidebar-menu" id="nav-accordion">
    <p class="centered"><img src="../assets/img/logoLMVR.PNG" class="img-circle" width="80"></p>
    
   
    <p class="text">LMVR est un site d'information construit par des étudiants pour un projet informatique.
    </p>
    <p class="text">Le Mans est une commune du Grand Ouest, située dans le département de la Sarthe dont elle est la préfecture.   
    </p>
    <!-- Création d'un formulaire de contact avec le site Formcarry.com -->
    <p class="text">Nous contacter : </p>
    <form action="https://formcarry.com/s/_gsN6J04Y2"
    method="POST" enctype="multipart/form-data">
        <input class="form" type="Nom" name="Nom" placeholder="Nom">
        <input class="form" type="Prenom" name="Prenom" placeholder="Prénom">
        <textarea class="form" type="Message" name="Message" placeholder="Message" rows="2" cols="15"></textarea>
        <button class="bouton_envoyer" type="submit">Envoyer</button>
    </form>
  </ul>