<div class="green-panel pn">
    <div class="green-header">
      <span class="title">COVID</span>   
    </div>
            <!-- appel des informations depuis le fichier script -->
    <p> <span class="under">Decès : </span>&nbsp;<span class="stat">  {{covid.deces}}</span> </p>
    <p> <span class="under">Gueris : </span>&nbsp;<span class="stat">  {{covid.gueris}}</span> </p>
    <p> <span class="under">Nouvelles réanimations : </span>&nbsp;<span class="stat">  {{covid.nouv_reanimation}}</span> </p>
    <p> <span class="under">Nouvelles hospitalisations : </span>&nbsp;<span class="stat">  {{covid.nouv_hospitalisation}}</span> </p>

  </div>